<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.com.sun.cloud.mapper.PaymentMapper">

    <insert id="insertOne" parameterType="payment" useGeneratedKeys="true">
        insert into payment(serial)
        values (#{serial})
    </insert>

    <select id="selectById" parameterType="int" resultType="payment">
        select id, serial from payment
        where id = #{id}
    </select>
</mapper>